.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

#cart-items li{
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif; 
   padding-top: 10px;
   padding-bottom: 10px;
}
.cart-button {
    background-color: #ee583f; 
    border:2px solid #ee583f; 
    color: #fff7ee;
}

.cart-button:hover {
  background-color: #fff7ee;
  color: #131c26;
  transition: 130ms;
  border: 2px solid #ee583f;
}