* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #fff7ee;
}

/* vvv */
footer {
    padding: 1em; 
    bottom: 0;
    text-align: center;
}

.footer-list li{
    display: inline;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    color:#f2f2f2;
}

#footer-logo {
  margin: 0 auto;
}

/* nav */
.topnav {
  overflow: hidden;
  background-color: #234057;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #ee583f;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.topnav a:hover {
  background-color: #fff7ee;
  color: #2e4057;
  transition: 200ms;
}

.active {
  background-color: #fff7ee;
  color: #2e4057;
}

/* end nav */

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.headers {
  text-align: center;
  font-size: 35px;
}
/* ^^^ */

.gal-img {
  max-height: 200px;
  max-width: 300px;
}

.gallery-page {
  margin: 0 auto;
  text-align: center;
}

.gallery-page p{
  margin-top: 0;
  margin-bottom: 3em;
}

.gallery-sec {
  display: inline-block;
  position: relative;
  width: 300px;
  margin: 2.5em 4em 2.5em 4em;
}

button {
  text-decoration: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 10px 24px;
  margin-top: .4em;
  border-radius: 6px;

}

.add-to-cart {
  background-color: #ee583f;
  border: 2px solid #ee583f;  
  color: #fff7ee;
}

.add-to-cart:hover {
  background-color: #fff7ee;
  color: #2e4057;
  transition: 130ms;
  border: 2px solid #ee583f;
}

.cart-btns {
  background-color: #c7b65e;
  color: #2e4057;
  border: 2px solid #c7b65e;
}

.cart-btns:hover {
  background-color: #fff7ee;
  color: #2e4057;
  transition: 130ms;
  border: 2px solid #c7b65e;
}

#subscribe-btn {
  background-color: #f7b3cc;
  border: 2px solid #f7b3cc;  
  color: #2e4057;
}

#subscribe-btn:hover {
  background-color: #fff7ee;
  border: 2px solid #f7b3cc;  
  color: #2e4057;
  transition: 130ms;
}

.sub-btn {
  padding: 6px 17px;
}

#sub-icon {
  margin-right: 0.5em;
}

/*   */
#btns {

  text-align: center;

}

/*   */

.product-title {
  font-size: 18px;
}

@media only screen and (max-width: 1300px) {
  .gallery-sec {
    margin: 0.5em 1em 0.5em 1em;
  }

}

@media only screen and (max-width: 768px) {
  .gallery-page {
    margin: 0 auto;
    text-align: center;
  }
  .gallery-sec {
    display: inline-block;
    width: 50%;
    margin: 0;
  }
  .gal-img {
    max-height: 150px;
    max-width: 260px;
  }
}